:root {
  --color-dark-blue: hsl(233, 26%, 24%);
  --color-lime-green: hsl(136, 65%, 51%);
  --color-bright-cyan: hsl(192, 70%, 51%);
  --color-grayish-blue: hsl(233, 8%, 62%);
  --color-light-grayish-blue: hsl(220, 16%, 96%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --body-font: cR(18px);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  background-color: var(--color-very-light-gray);
}

.container {
  margin: 0 auto;
}

.nav--main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem 6.25rem;
  position: relative;
  background-color: var(--color-white);
  z-index: 1;
}

.nav {
  box-shadow: 0.0625rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.1);
}
.nav__company__logo {
  margin-top: 0.5rem;
}
.nav__navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-grow: 1;
}
.nav__navigation__item {
  margin: 0 1.25rem;
  font-size: 1rem;
  opacity: 70%;
  cursor: pointer;
}

.hero {
  display: grid;
  width: 100%;
  grid-template-columns: 40% 60%;
  height: 37.5rem;
  margin: 0 6.25rem;
}
.hero__details {
  display: flex;
  flex-direction: column;
  padding: 4.375rem 6.25rem 4.375rem 0;
  gap: 1.25rem;
  justify-content: center;
  align-items: flex-start;
}
.hero__heading {
  font-size: 2.4375rem;
  font-weight: 400;
}
.hero__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero__image__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: -2;
  top: -5rem;
  left: 4.875rem;
  transform: scale(1.45);
}
@media only screen and (max-width: 1200px) {
  .hero__image__bg {
    transform: scale(1.2);
  }
}
.hero__image__ph {
  position: absolute;
  width: 100%;
  object-fit: cover;
  display: block;
  top: -8.75rem;
  left: 3rem;
  transform: scale(0.9);
  z-index: 0;
}

.features {
  padding-top: 50px;
  background-color: var(--color-light-grayish-blue);
  height: 36.25rem;
}
.features__details__wrap {
  margin: 0 6.25rem;
  padding-top: 3.125rem;
  height: 9.375rem;
  width: 37.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.features__figures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  margin: 0 6.25rem;
  margin-top: 50px;
}
.features__figure {
  display: flex;
  height: 14.375rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.features__figure__image {
  flex: 0 1 0;
}

.articles {
  height: 37.5rem;
  display: flex;
  align-items: center;
}
.articles__container {
  margin: 0 6.25rem;
}
.articles__heading {
  margin-bottom: 2.1875rem;
}
.articles__figures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5625rem;
}
.articles__figure {
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: 0.3125rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.05);
}
.articles__image {
  object-fit: cover;
  width: 100%;
  height: 12.5rem;
}
.articles__details {
  padding: 1.5625rem;
}
.articles__author {
  font-size: 12px;
  opacity: 70%;
  margin-bottom: 10px;
}
.articles__quote {
  font-size: 13px;
  opacity: 70%;
}

.footer {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  height: 12.5rem;
}
.footer__container {
  margin: 0 6.25rem;
  height: 9.375rem;
  display: flex;
  gap: 9.375rem;
  padding: 2.5rem 0 0 0;
}
.footer__name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 10.625rem;
}
.footer__name__logo {
  width: 90%;
}
.footer__name__social {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footer__name__social:hover, .footer__name__social:active {
  fill: var(--color-lime-green);
  cursor: pointer;
}
.footer__name__social {
  display: flex;
}
.footer__nav__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 3.125rem;
}
.footer__nav__items li {
  font-size: 0.875rem;
  list-style: none;
  padding: 0.4375rem;
  opacity: 70%;
  cursor: pointer;
  transition: all 0.2s;
}
.footer__nav__items li:active, .footer__nav__items li:hover {
  color: var(--color-lime-green);
}
.footer__btn {
  margin-left: auto;
  margin-bottom: auto;
}

.paragraph {
  opacity: 70%;
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.9875rem;
}

.heading__secondary {
  font-size: 1.875rem;
  font-weight: 400;
}

.heading--4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  opacity: 80%;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.heading--4:active, .heading--4:hover {
  background-image: linear-gradient(to right, var(--color-lime-green), var(--color-bright-cyan));
  -webkit-background-clip: text;
  color: transparent;
}

.btn {
  border: none;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  border-radius: 1.5625rem;
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-lime-green), var(--color-bright-cyan));
  transition: all 0.2s;
  cursor: pointer;
}
.btn:hover, .btn:active {
  filter: brightness(110%);
}
.btn--hero {
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
